
.tag-wrap .tag-item{
	float: left;
	margin: 5px;
	padding: 10px;
	background: #fff0f3;
	position: relative;
}
.tag-wrap  .tag-name {
	line-height: 25px;
	display: inline-block;
	vertical-align: middle;
	float: left;
}
.tag-wrap .tag-item .icon-roundclose{
	float: right;
	display: inline-block;
	font-size: 22px;
	width: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.tag-wrap .tag-item:hover{
	cursor: pointer;
}
.tag-wrap .tag-item:hover .icon-roundclose{
	width: 21px;
	padding-left: 10px;
}
.tag-wrap .tag-item:hover .tag-name{
	color: #999999;
}
.tag-wrap .tag-item .icon-roundclose:hover{
	color:#f4615c;
}