/*海报*/
.cover-content .cover-img {
	display: inline-block;
	width: 200px;
	height: 120px;
	margin-right: 20px;
	background: no-repeat center;
	background-size: cover;
	vertical-align: middle;
}

.layui-form-label{
	width: 100px!important
}

.layui-input-block{
	margin-left: 130px!important;
}

.activity-location .address-name{
	font-weight: normal;font-size: 16px; color: #000;
}

.activity-location .set-address{
	color: red
}

.activity-location a:hover{
	color: red
}

.activity-location table td{
	padding-top: 10px;
}
.user-logo{
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: no-repeat center;
	background-size: cover;
	vertical-align: middle;
}
