.index-outside > section {
    background: transparent !important;
}
.index-outside {
    width: 1190px;
}
/*banner*/
.banner {
    height: 500px;
}
.slide-item{
    text-align: center;
}
.flexslider .slides .slide-item img {
    display: inline-block;
    width: 100%;
    max-width: 1600px;
}

.banner-img {
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.flexslider {
    border: 0px !important;
}

.slides .banner-text-shadow {
    position: absolute;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    padding: 5px 10px;
}

.slides .banner-text-shadow .text {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
}

.slides .banner-text-shadow .text a, .slides .banner-text-shadow .text a:hover {
    color: white
}

.flex-control-nav {
    display: none;
}

/*活动content*/
.col-inner{
    display: block;
    position: relative;
}
.col-small img{
    width: 100%;
    height: 170px;
}
.col-inner.bl{
    border-left: 5px solid rgba(255, 255, 255, 0);
}
.col-inner.br{
    border-right: 5px solid rgba(255, 255, 255, 0);
}
.col-inner.bt{
    border-top: 5px solid rgba(255, 255, 255, 0);
}
.col-inner.bb{
    border-bottom: 5px solid rgba(255, 255, 255, 0);
}
.acts-head {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #cec8c8;
}

.acts-head::before {
    position: absolute;
    display: inline-block;
    background: #e8473f;
    left: 0;
    content: '';
    width: 4px;
    height: 30px;
}

.acts-head .head-title {
    padding-left: 10px;
    float: left
}

.acts-head .more-link {
    float: right
}

.acts-content, .goods-content {
    padding: 20px 0;
}

.acts-content .act-item-bg, .acts-content .act-item-big-bg {
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    height: 170px;
    overflow: hidden;
    cursor: pointer;
}

.acts-content .act-item-big-bg {
    height: 350px;
}

.acts-content .act-front-content {
    position: absolute;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    padding: 5px 10px;
}

.acts-content .act-item-big-bg .act-front-content {
    font-size: 18px;
}

.goods-content .good-item-bg {
    height: 200px;
}

.goods-content .good-item {
    background: #fff;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
}

.goods-content .good-item .good-item-bg {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
}

.goods-content .good-item .good-front-content {
    padding: 10px 0;
}

.goods-content .good-detail {
    position: relative;
}

.goods-content .good-title {
    height: 55px;
}

.good-detail .good-type {
    right: 0;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #e8473f;
    border: 1px solid #e8473f;
}

/*合作伙伴*/
.partner-black {
    min-height: 300px;
    width: 100%;
    text-align: center;
    background-color: #4A4848;
}

.partner-black .partner-content {
    width: 1190px;
    margin: 0 auto;
    padding: 35px 0 22px;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
}

.partner-content .partner {
    /* 	margin-bottom: 40px; */
}

.partner-content .partner .partner-header {
    color: #fff;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
}

.partner-content .partner .partner-icon-list {
    /* 	display: -webkit-box; */
    /* 	display: -webkit-flex; */
    /* 	display: flex; */
    /* 	-webkit-box-pack: justify; */
    /* 	-webkit-justify-content: space-between; */
    /* 	justify-content: space-between; */
    /* 	margin-bottom: 25px; */
}

.partner-content .partner .partner-icon-list li {
    margin-right: 44px;
    margin-bottom: 25px;
}

.partner-content .partner li .img {
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    width: 110px;
    height: 110px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
}

@media screen and (max-width: 1510px) {
    .banner, .banner-img {
        height: 400px;
    }
}

@media screen and (max-width: 1366px) {
    .banner, .banner-img {
        height: 400px;
    }
}